<div class="card">
    <div class="card-header py-lg-5">
        <h1>Sony Interactive Entertainment</h1>
    </div>
    <div class="card-body">
        <div class="row no-gutters">
            <div class="card-group">
                <div class="col-auto">
                    <img style="width: 200px;" src="../assets/Ratchet.jpg" class="img-fluid" alt="">
                </div>
                <div class="col py-4">
                    <div class="card-block px-3">
                        <h4 class="card-title">Ratchet & Clank</h4>
                        <p class="card-text">Ratchet & Clank is a series of action platformer and 
                            third-person shooter video games. The franchise was created and developed 
                            by Insomniac Games and published by Sony Interactive Entertainment for 
                            PlayStation consoles, such as PlayStation 2, PlayStation 3, PlayStation 4, 
                            and PlayStation 5, with the exclusion of Size Matters and Secret Agent Clank, 
                            which were developed by High Impact Games for the PlayStation Portable. 
                            The series is exclusive to Sony platforms and the intellectual property is 
                            owned by Sony Interactive Entertainment. An animated feature film adaptation
                             was released on April 29, 2016.The games take place in a science fiction 
                             setting and follow the adventures of Ratchet (a feline humanoid known as a 
                             Lombax, who is a mechanic) and Clank (a diminutive, sentient Zoni "defective" 
                             robot) as they travel through the universe, saving it from evil forces that 
                             consistently threaten it. The series is noted for its inclusion of many exotic, 
                             unique and over-the-top weapons and gadgets, a concept that Insomniac Games has
                              expanded into their other games.</p>
    
                        
                        <hr>              
                        <div class="row">
                            <div class="col-2">
                                <h5>Rating:</h5>
                            </div>
                            <div class="col-7">
                                <span> <ngb-rating class="star" [max]="5" [(rate)]="currentRate"></ngb-rating></span>
                            </div>
                            <div class="col-3">
                                <h5>{{currentRate}} out of 5</h5>
                            </div>
                        </div>
    
                        
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>